@import "variables1";

body {
    background: lighten($almostWhite,5);
    
    
}
#nav-principal {
  background: $yellow;
  width: 100%;
  padding: 10px;
  margin: -10px -10px 0 -10px;
  

  div {
    background-color: $almostWhite;
    margin-right: 10px;
    padding: 5px 5px 5px 0;
    border-radius: 7px;
  }
  ul {
    width: 100%;
    list-style: none;
    display: inline;
    font-size: 19px;
  }
  #top-bar-right {
    margin: 70%;
    
  }
  #top-bar-left {
    font-weight: bold;
    color: $almostBlack;
  }
  a {
    color: $almostBlack;
    text-orientation: none;
    text-decoration: none;
    padding:  0 20px 0 20px;

    &:hover {
        background: lighten($almostWhite,10);
        border-radius: 5px;
    }
  }
  li {
    display: inline;
  }
  &::after{
      content: "";
      display: block;
      clear: both;
  }
}

article {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .banner-superior {
        text-align: center;
        margin: 20px 38px 0 0;
        font-size: 25px;
        
        #div-titulo {
            background: $yellow;
            width: 100%;
            padding: 20px;
            border-radius: 7px;
            
        }

        small {
            font-size: small;
        }

        img {
            border: 3px solid $yellow;
            border-radius: 7px;
            margin: 20px 0 20px 0;
        }
    }

    #div-texto {
        background: $green;
        width: 60%;
        margin-left: 5%;
        padding: 20px;
        border: 3px solid $yellow;
        border-radius: 7px;
        text-align: right;
  

        h5 {
            font-weight: bolder;
            font-size: large;
            text-align: left;
        }
        p {
            text-align: justify;
        }
        img {
            margin-left: auto;
            margin-right: auto;
            border: 3px solid darken($yellow,10);
            border-radius: 7px;
        }
    }

  
}

$highlight: $primary-color;

.responsive-blog-footer {
  background: darken($dark-gray, 25%);
  padding: 3rem 3rem;
  color: white;
  margin: 20px -10px -10px -10px;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $dark-gray;
  }

  .mailing-list {
    margin-bottom: 1.5rem;
  }
  .mailing-container {
    margin-bottom: 2rem;
  }

  .about-section, .tag-section {
    margin-bottom: 2rem;

    a {
      color: $highlight;
    }
  }

  .subscribe-button {
    background-color:$highlight;

    &:hover {
     background-color: darken($highlight, 5%);
     transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}







